@use "../../../variables" as vars;

.qr-code {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;

  .qr-code-creator {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;

    table {
      width: 100%;

      td {
        white-space: nowrap;
        text-align: left;

        &:first-child {
          width: 1%;
        }

        &:last-child {
          width: 100%;
        }
      }
    }
  }

  .qr-code-display {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 50%;

    .qrcode {
      height: 256px;
      width: 256px;
    }

    .qr-code-placeholder {
      height: 256px;
      width: 256px;
      border: 1px dashed #000;
      padding: 2em;
      display: flex;
      align-items: center;
    }
  }

  @include vars.respond-to(mobile) {
    flex-direction: column;
    align-items: center;

    .qr-code-creator,
    .qr-code-display {
      width: 100%;
    }
  }
}
