@use "../../../variables" as vars;

.section {
  .about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
    justify-items: center;
    padding: 7em 3em;

    .inner-section {
      padding: 1em;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 5px;
    }

    .about-text-section {
      .subtitle {
        font-size: 1.2em;
        margin-bottom: 1em;
        font-weight: 100;
      }
    }

    .about-icons-section {
      align-items: center;
      justify-items: center;

      .skill-icons {
        display: flex;
        gap: 2em;
        align-items: center;
        justify-items: center;

        .skill-icon-column {
          display: flex;
          flex-direction: column;
          gap: 2em;
        }

        ng-icon {
          width: 4em;
          height: auto;

          &:hover {
            color: var(--mat-sys-primary);
          }
        }
      }
    }
  }

  .experience-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: start;
    justify-items: center;
    text-align: left;

    .inner-section {
      padding: 1em;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0px;
        padding-top: 0px;
        margin-block-start: 0;
      }

      h3 {
        margin-bottom: 0.2em;
      }

      ul {
        margin-top: 0px;
        padding-top: 0px;
        margin-block-start: 0;
        list-style: "- ";

        li {
          line-height: 1.8em;
        }
      }
    }
  }
}

@include vars.respond-to(tablet) {
  .section {
    .inner-section {
      padding: 0;
    }

    .about-text-section {
      text-align: center;
    }

    .about-section,
    .experience-section,
    .projects-section {
      padding: 1em;
    }
  }
}

@include vars.respond-to(mobile) {
  .section {
    .inner-section {
      padding: 0;
    }

    .about-text-section {
      text-align: center;
    }

    .about-section,
    .experience-section,
    .projects-section {
      padding: 0;
      grid-template-columns: auto;
    }
  }
}
