@use "../../../variables" as vars;

.section {
  display: grid;
  max-width: var(--content-max-width);

  .about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2em;
    align-items: center;
    justify-items: center;
    padding: 5em 0em;

    .inner-section {
      padding: 1em;
      text-align: left;

      // .profile-picture {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;

      //   img {
      //     width: 150px;
      //     height: auto;
      //     border-radius: 25%;
      //   }
      // }
    }

    .about-text-section {
      text-align: left;

      .subtitle {
        font-size: 1.2em;
        margin-bottom: 1em;
        font-weight: 100;
      }
    }

    .about-icons-section {
      align-items: center;
      justify-items: center;

      .skill-icons {
        display: flex;
        gap: 2em;
        align-items: center;
        justify-items: center;

        .skill-icon-column {
          display: flex;
          flex-direction: column;
          gap: 2em;
        }

        ng-icon {
          width: 4em;
          height: auto;

          &:hover {
            color: var(--terminal-color);
          }
        }
      }
    }
  }

  .experience-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: start;
    justify-items: center;
    gap: 2em;
    padding: 5em 0em;

    .inner-section {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0px;
        padding-top: 0px;
        margin-block-start: 0;
      }

      h3 {
        margin-bottom: 0.2em;
      }

      ul {
        margin-top: 0px;
        padding-top: 0px;
        margin-block-start: 0;
        list-style: "- ";

        li {
          line-height: 1.8em;
        }
      }
    }
  }
}

@include vars.respond-to(tablet) {
  .section {
    .inner-section {
      padding: 0em;
    }

    .about-section {
      grid-template-columns: auto;
      padding: 0em 5em;
    }

    .experience-section {
      grid-template-columns: auto;
      padding: 0em;
    }
  }
}

@include vars.respond-to(mobile) {
  .section {
    .inner-section {
      padding: 1em;
    }

    .about-section {
      grid-template-columns: auto;
      padding: 0em;
    }

    .experience-section {
      grid-template-columns: auto;
      padding: 0em;
    }
  }
}
