<div class="page portfolio-page">
  <app-container-component>
    <div class="section">
      <div class="about-section">
        <div class="inner-section about-text-section">
          <div class="profile-picture">
            <img
              [src]="'assets/images/devdanielsProfilePicture.jpg'"
              alt="Daniël Geerts (DevDaniels) profile picture"
            />
          </div>
          <h1>Hello, my name is Daniël Geerts</h1>
          <span class="subtitle">- Software/DevOps engineer -</span>
          <p>
            I am a software/devops developer based in the Netherlands. I enjoy
            building functional, well-designed web applications and robust
            software systems. I work with a broad range of technologies,
            including C# .net, Azure, Bicep, TypeScript, Node.js, Git, and more.
          </p>
          <p>
            Next to being a bits and bites wizard, I enjoy (making) art from
            time to time. You can find some of my art projects here as well.
          </p>
        </div>
        <div class="inner-section about-icons-section">
          <div class="skill-icons">
            @for (columnNumber of [1, 2, 3, 4]; track columnNumber) {
              <div class="skill-icon-column">
                @for (icon of listOfBrandIcons; track icon) {
                  @if (icon.col === columnNumber) {
                    <ng-icon
                      [name]="icon.icon"
                      [matTooltip]="icon.tooltip"
                    ></ng-icon>
                  }
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </app-container-component>

  <app-container-component containerTitle="Experience">
    <div class="section">
      <div class="experience-tabs">
        <div class="experience-tabs__header" role="tablist">
          @for (tab of experienceTabs; track tab.id) {
            <button
              class="experience-tabs__tab"
              [class.experience-tabs__tab--active]="activeTab() === tab.id"
              (click)="setTab(tab.id)"
              role="tab"
              [attr.aria-selected]="activeTab() === tab.id"
            >
              <ng-icon [name]="tab.icon" size="1em"></ng-icon>
              {{ tab.label }}
            </button>
          }
        </div>

        <div class="experience-tabs__content" role="tabpanel">
          @if (activeTabData(); as tab) {
            <div class="experience-tabs__grid">
              @for (section of tab.sections; track section.title) {
                <div>
                  <h2>
                    <ng-icon [name]="section.icon" size="1em"></ng-icon>
                    {{ section.title }}
                  </h2>
                  @if (section.institution) {
                    <p>{{ section.institution }} | {{ section.year }}</p>
                  }
                  <ul>
                    @for (tag of section.tags; track tag) {
                      <li>{{ tag }}</li>
                    }
                  </ul>
                </div>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <a
          class="old-skool-button old-skool-button--primary"
          href="https://www.linkedin.com/in/danielgeerts/"
          target="_blank"
          rel="noopener noreferrer"
        >
          View More On My LinkedIn
        </a>
      </div>
    </div>
  </app-container-component>

  <app-container-component containerTitle="Projects">
    <div class="section">
      <div class="projects-section">
        <div class="inner-section">
          <app-articles-list-page
            [onlyShowArticles]="true"
            [maxItemsToShow]="3"
          ></app-articles-list-page>
        </div>
      </div>
      <div>
        <a
          class="old-skool-button old-skool-button--primary"
          [routerLink]="['/articles']"
        >
          View All Articles
        </a>
      </div>
    </div>
  </app-container-component>
</div>
