@use "variables" as vars;

app-container-component {
  img {
    width: 300px;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  .subtitle {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .description {
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }

  .social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .icon-wrapper {
      margin: 0 3rem;
      color: var(--mat-sys-secondary);
      cursor: pointer;

      &:hover {
        color: var(--mat-sys-primary);
      }

      @include vars.respond-to(tablet) {
        margin: 0 0.5rem;
      }

      @include vars.respond-to(mobile) {
        margin: 0 0.5rem;
      }
    }
  }
}
