@use "variables" as vars;

.container {
  min-height: 0;
  display: flex;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-sys-primary-container);
  margin-bottom: 5em;
  border-radius: 4px;

  .content {
    max-width: var(--content-max-width);
    padding: 2em 0em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 4px;

    .title {
      font-size: 2.5em;
      margin-bottom: 1.5em;
      text-align: center;
    }
  }
}
