@use "variables" as vars;

.container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;
    margin: 0 auto;
    background-color: var(--mat-sys-primary-container);
    margin-bottom: 5em;
    border-radius: 4px;
  }
}

.full-width-container {
  min-height: 0;
  width: 90%;
  margin: 0 auto;
  align-items: start;
  justify-content: start;

  .full-width-content {
    padding: 1em;
    width: 100%;
    border-radius: 4px;
  }
}
