<container-component [fullWidth]="true" class="portfolio-article-container">
  @if (article(); as a) {
    <p class="breadcrumb">
      <span>
        <a routerLink="/">Home</a>
      </span>
      <span>
        &gt;
        <a routerLink="/articles">Articles</a>
      </span>
      <span>
        &gt;
        @for (cat of a.category; track cat; let last = $last) {
          <a [routerLink]="['/articles', 'category', cat]">{{ cat || "" }}</a>

          @if (!last) {
            /
          }
        }
        <!-- <a [routerLink]="['/articles','category', a.category]">{{ a.category || '' }}</a> -->
      </span>
      <span>
        &gt;
        <span class="active">{{ a.title || "" }}</span>
      </span>
    </p>

    <p class="article-slug">Slug: {{ a.slug || "" }}</p>
    <p class="article-short">
      shortDescription: {{ a.shortDescription || "" }}
    </p>
    <h1 class="article-title">Title: {{ a.title || "" }}</h1>
    <p class="article-date">Date: {{ a.date || "" }}</p>
    <p class="article-category">Category: {{ a.category || "" }}</p>

    <img
      [hidden]="!a.featuredImage"
      [src]="a.featuredImage?.srcPath"
      [alt]="a.featuredImage?.altText"
      class="portfolio-image"
    />

    <div class="article-content">
      <!-- Article HTML or list comes from child outlet -->
      <section class="article-content">
        <router-outlet></router-outlet>
      </section>
    </div>
  } @else {
    <p>Error loading article</p>
  }
</container-component>
