@use "variables" as vars;

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: var(--content-max-width);
  margin: 0 auto;

  .inner-section {
    text-align: left;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;

    .inner-section {
      padding: 2em;

      img {
        width: 300px;
        height: 300px;
      }
    }

    .about-text-section {
      text-align: left;

      .subtitle {
        font-size: 1.2em;
        margin-bottom: 1em;
        font-weight: 100;
      }
    }

    .skill-icons {
      display: flex;
      align-items: center;
      justify-content: center;

      .skill-icon-row {
        display: flex;
        flex-direction: column;

        ng-icon {
          margin: 1em;

          &:hover {
            color: var(--terminal-color);
          }
        }
      }
    }
  }

  .experience-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-items: center;
    padding: 2em;

    .inner-section {
      padding: 2em;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0px;
        padding-top: 0px;
        margin-block-start: 0;
      }

      h3 {
        margin-bottom: 0.2em;
      }

      ul {
        margin-top: 0px;
        padding-top: 0px;
        margin-block-start: 0;
        list-style: "- ";

        li {
          line-height: 1.8em;
        }
      }
    }
  }
}

@include vars.respond-to(tablet) {
  .about-section {
    display: grid;
    grid-template-columns: auto;

    .inner-section {
      width: 100%;
      padding: 1em;
    }
  }
}
