@use "variables" as vars;

.section {
  text-align: left;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.about-section {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  justify-items: center;

  .inner-section {
    padding: 2em;

    img {
      border-radius: 5%;
      width: 350px;
      height: 350px;
    }
  }

  .about-text-section {
    text-align: center;
    max-width: 75%;

    .title {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    .subtitle {
      font-size: 1.2em;
      margin-bottom: 1em;
      font-weight: 100;
    }
  }

  .skill-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    .skill-icon-row {
      display: flex;
      flex-direction: column;

      ng-icon {
        padding: 1em;
      }
    }
  }
}

.experience-section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: start;
  justify-items: center;
  padding: 2em;

  .inner-section {
    padding: 2em;
  }
}

@include vars.respond-to(tablet) {
  .about-section {
    display: grid;
    grid-template-columns: 100%;

    .inner-section {
      width: 100%;
      padding: 1em;
    }
  }
}
