<container-component [fullWidth]="true" class="portfolio-article-container">
    @if (article()) {
        <p class="breadcrumb"><a href="">Home</a> > <a href="portfolio">Portfolio</a> > <a href="{article.category}">{{ article()?.category }}</a> > <a class="active" href="{article.title}" disabled>{{ article()?.title }}</a>
        <p>{{ article()?.slug }}</p>
        <p>{{ article()?.shortDescription }}</p>
        <h1>{{ article()?.title }}</h1>
        <p>{{ article()?.date }}</p>
        <p>{{ article()?.category }}</p>
        @if (article()?.featuredImage) {
            <img
                [src]="article()?.featuredImage?.srcPath"
                [alt]="article()?.featuredImage?.altText"
                class="portfolio-image"/>
        }

        <div class="article-content">
            <!-- Article HTML comes from child -->
            <section class="article-content">
                <router-outlet />
            </section>
        </div>
    } @else {
        <p>Error loading article</p>
    }
</container-component>
