<app-container-component>
  <div class="not-found-404">
    <div class="page-title">
      <ng-icon name="faSolidSkullCrossbones" /> 404 - Ye Be Wandering Off the
      Map!
      <ng-icon name="faSolidSkullCrossbones" />
    </div>
    <p>
      Avast! The seas be treacherous, and this page be abandoned like a ghost
      ship. It seems ye've stumbled upon a hidden cove of the internet, where
      the waves of content have long since receded. This be no place for a brave
      sailor like yourself! The treasure ye seek is not here, but fear not, for
      there be plenty of other islands to explore on this vast digital ocean.
      Hoist your sails and set a course for adventure, but steer clear of this
      forsaken ship. No treasure here! Climb aboard a proper vessel and
      <a [routerLink]="['/']">return to the main deck</a>. Savvy? Fair winds and
      following seas, matey!
    </p>
  </div>
</app-container-component>
