.not-found-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .page-title {
    color: var(--mat-sys-error);
    font-size: 24pt;
    font-weight: 600;
    margin: 2rem 0;
  }

  p {
    color: var(--mat-sys-on-surface);
    max-width: 600px;
  }
}
