<main>
  <ngx-particles
    [id]="id"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"
  ></ngx-particles>
  <div class="main-menu">
    <div class="logo-container">
      <a [routerLink]="['/']">
        <div class="logo-svg" [innerHTML]="logoSvg"></div>
        <div class="site-info">
          <span class="title">DevDaniels</span>
          <span class="subtitle">Software/DevOps engineer</span>
        </div>
      </a>
    </div>
    <nav>
      @for (route of navRoutes; track route) {
        <a
          [routerLink]="['/' + route.path]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ route.data?.["navTitle"] }}
        </a>
      }
      @if (isDarkMode) {
        <fa-icon
          [icon]="faSun"
          (click)="toggleTheme()"
          class="clickable-icon switch-theme"
          size="2x"
          matTooltip="Switch to light mode"
        ></fa-icon>
      } @else {
        <fa-icon
          [icon]="faMoon"
          (click)="toggleTheme()"
          class="clickable-icon switch-theme"
          size="2x"
          matTooltip="Switch to dark mode"
        ></fa-icon>
      }
    </nav>
  </div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
