.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0 2em;

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;

    .site-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 0 2em;

      .title {
        font-weight: 600;
        font-size: 16pt;
      }
      .subtitle {
        font-weight: 100;
        font-size: 11pt;
      }
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;

      color: var(--mat-sys-on-surface);
      text-decoration: none;

      &:hover {
        color: var(--mat-sys-primary);
      }

      .logo-svg {
        width: 75px;
        height: 75px;
        transition: transform 1s ease-in-out 0s;

        &:hover {
          transform: rotate(225deg);
        }
      }
    }
  }

  nav {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    a {
      color: var(--mat-sys-on-surface);
      text-decoration: none;
      font-size: 1.2em;
      transition: color 0.3s ease;

      &:hover {
        color: var(--mat-sys-primary);
      }

      &.active {
        color: var(--mat-sys-primary);
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .switch-theme {
      transition: transform 1s ease-in-out 0s;
    }

    .switch-theme:hover {
      transform: rotate(225deg);
    }
  }
}

ngx-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; // Ensure particles are behind other content
}
