<main>
  <ngx-particles
    [id]="id"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"
  ></ngx-particles>
  <div class="main-menu">
    <div class="logo-container">
      <a [routerLink]="['/']">
        <div class="logo-svg" [innerHTML]="logoSvg"></div>
        <div class="site-info">
          <span class="title">DevDaniels</span>
          <span class="subtitle">Software/DevOps engineer</span>
        </div>
      </a>
    </div>
    <nav>
      @for (route of navRoutes; track route) {
        <a
          [routerLink]="['/' + route.path]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ route.data?.["navTitle"] }}
        </a>
      }
      @if (isDarkMode) {
        <ng-icon
          name="faSolidSun"
          (click)="toggleTheme()"
          class="clickable-icon switch-theme"
          size="2em"
          matTooltip="Switch to light mode"
        ></ng-icon>
      } @else {
        <ng-icon
          name="faSolidMoon"
          (click)="toggleTheme()"
          class="clickable-icon switch-theme"
          size="2em"
          matTooltip="Switch to dark mode"
        ></ng-icon>
      }
    </nav>
  </div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
  <div class="footer">
    <span
      >&copy; 2023 - {{ currentYear }} | made with
      <ng-icon name="faSolidHeart" size="1em" matTooltip="love"></ng-icon> by
      Daniël Geerts | Check out the source code on
      <a
        href="https://github.com/devdanielsun/devdaniels-portfolio"
        target="_blank"
        matTooltip="GitHub repository"
      >
        GitHub
      </a>
    </span>
  </div>
  <div class="sidebar">
    <a
      href="https://github.com/devdanielsun"
      target="_blank"
      matTooltip="Check my GitHub"
      matTooltipPosition="right"
    >
      <ng-icon name="simpleGithub" size="2em"></ng-icon>
    </a>
    <a
      href="https://www.linkedin.com/in/danielgeerts/"
      target="_blank"
      matTooltip="Connect with me on LinkedIn"
      matTooltipPosition="right"
    >
      <ng-icon name="diLinkedinPlain" size="2em"></ng-icon>
    </a>
  </div>
</main>
