@use 'variables' as vars;

container-component {
    img {
        width: 300px;
        height: auto;
        border-radius: 3%;
        margin-bottom: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .title {
        font-size: 3rem;
        margin-bottom: 1rem;

        span {
            font-size: 1.5rem;
        }
    }

    .subtitle {
        font-size: 1.25rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .description {
        font-size: 1.25rem;
        margin-bottom: 6rem;
    }

    .social-icons {
        margin-top: 5rem;

        .icon-wrapper {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 3rem;
            color: var(--mat-sys-secondary);
            padding: 1rem;
            cursor: pointer;

            &:hover {
                color: var(--mat-sys-primary);
            }

            @include vars.respond-to(tablet) {
                margin: 0 0.5rem;
            }

            @include vars.respond-to(mobile) {
                margin: 0 0.5rem;
            }
        }
    }
}