
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    padding: 8rem 16rem;
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    margin: 0 auto;

    @media (max-width: 900px) and (min-width: 601px) { // Tablets
        padding: 1rem;
    }

    @media (max-width: 600px) { // Mobile devices
        padding: 1rem;
    }
}