.container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        text-align: center;
        margin: 0 auto;
        transition: opacity 0.3s ease;
        padding: 4em;
        min-width: 50%;
        background-color: var(--mat-sys-primary-container);
        margin-bottom: 5em;

        @media (max-width: 900px) and (min-width: 601px) { // Tablets
            margin: 1em;
            padding: 2em;
            min-width: 80%;
        }
        @media (max-width: 600px) { // Mobile devices
            margin: 1em;
            padding: 2em;
            min-width: 90%;
        }
    }
}

.full-width-container {
    min-height: 90vh;
    width: 90%;
    margin: 0 auto;
    align-items: start;
    justify-content: start;

    @media (max-width: 900px) and (min-width: 601px) { // Tablets
        width: 90%;
        margin: 1rem;
    }

    @media (max-width: 600px) { // Mobile devices
        width: 95%;
        margin: 1rem;
    }

    .full-width-content {
        padding: 1em;
        width: 100%;
    }
}