@use '@angular/material' as mat;
@use '@angular/material/theming' as mat-theme;

// Define a custom theme
@include mat-theme.core();

$primary: mat-theme.define-palette(mat-theme.$indigo-palette);
$accent: mat-theme.define-palette(mat-theme.$pink-palette);
$warn: mat-theme.define-palette(mat-theme.$red-palette);

$theme: mat-theme.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
));

// Apply the theme
@include mat-theme.apply-theme($theme);
@include mat-theme.typography();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; // Matches Material Design
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}