
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  // Default to dark theme
  color-scheme: dark;
  @include mat.theme((
    color: mat.$cyan-palette,
    typography: Roboto,
    density: 0,
  ));

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-background);
  font: var(--mat-sys-body-medium);
}

html.light-theme {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0,
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clickable-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.clickable-icon:hover {
  color: var(--mat-sys-primary);
}

a {
  color: var(--mat-sys-secondary);
  text-decoration: none;

  &:hover {
    color: var(--mat-sys-primary);
  }

  &.active {
    color: var(--mat-sys-primary);
    font-weight: bold;
    text-decoration: underline;
  }
}