.center-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    text-align: center;
    padding: 4rem 1rem;
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    width: 50%;
    margin: 0 auto;

    @media (max-width: 900px) and (min-width: 601px) {
        width: 70%; // Tablet width
    }

    @media (max-width: 600px) {
        width: 80%; // Mobile width
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .social-icons a {
        margin: 0 0.5rem;
        font-size: 24px;
        color: var(--mat-sys-on-primary-container);
    }
}