.hero {
    text-align: center;
    padding: 8rem 16rem;
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    margin: 0 auto;

    @media (max-width: 900px) and (min-width: 601px) { // Tablets
        padding: 1rem;
    }

    @media (max-width: 600px) { // Mobile devices
        padding: 1rem;
    }

    img {
        width: 250px;
        height: auto;
        border-radius: 3%;
        margin-bottom: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .title {
        font-size: 3rem;
        margin-bottom: 1rem;

        span {
            font-size: 1.5rem;
        }
    }

    .subtitle {
        font-size: 1.25rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .description {
        font-size: 1.25rem;
        margin-bottom: 6rem;
    }

    .social-icons {
        margin-top: 5rem;

        .icon-wrapper {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 3rem;
            color: var(--mat-sys-on-secondary-container);
            padding: 1rem;
            cursor: pointer;
            transition: border-color 0.2s, background 0.2s;

            &:hover {
                color: var(--mat-sys-on-primary-container);
                border-color: var(--mat-sys-on-primary-container);
            }

            @media (max-width: 900px) and (min-width: 601px) { // Tablets
                margin: 0 0.5rem;
            }

            @media (max-width: 600px) { // Mobile devices
                margin: 0 0.5rem;
            }
        }
    }
}