.center-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  text-align: center;
  padding: 4rem 1rem;
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 900px) and (min-width: 601px) {
  .hero {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .hero {
    width: 80%;
  }
}
.hero .title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero .title span {
  font-size: 1.5rem;
}
.hero .subtitle {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 3rem;
}
.hero .description {
  font-size: 1.25rem;
  margin-bottom: 6rem;
}
.hero .social-icons {
  margin-top: 5rem;
}
.hero .social-icons .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 3rem;
  color: var(--mat-sys-on-secondary-container);
  border: 2px solid var(--mat-sys-on-secondary-container);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  transition: border-color 0.2s, background 0.2s;
}
.hero .social-icons .icon-wrapper:hover {
  color: var(--mat-sys-on-primary-container);
  border-color: var(--mat-sys-on-primary-container);
}