<container-component [fullWidth]="true" class="portfolio-article-container">
    <h1>Articles</h1>
    <nav>
        <a [routerLink]="['/articles']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All</a>
        <span>
            @for (c of categories(); track c) {
                | <a [routerLink]="['/articles','category', c]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ c }}</a>
            }
        </span>
    </nav>

    <ul>
        <li>
            @for (a of items() ; track a) {
                <a [routerLink]="['/articles', a.slug]" routerLinkActive="active">{{ a.title }}</a> - <small> {{ a.date }}</small>
                <p>{{ a.shortDescription }}..</p>
                <br /><br />
            }
        </li>
    </ul>
</container-component>