<container-component [fullWidth]="true" [hideContainerView]="hideContainerView" class="portfolio-article-container">
    @if (!hideTitle) {
        <h1>Articles</h1>
    }

    @if (!hideCategoryNav) {
        <nav>
            <a [routerLink]="['/articles']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All</a>
            <span>
                @for (c of categories(); track c) {
                    | <a [routerLink]="['/articles','category', c]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ c }}</a>
                }
            </span>
        </nav>
    }

    <ul>
        <li>
            @for (a of (items() | slice:0:(maxItemsToShow ?? items().length)) ; track a) {
                <a [routerLink]="['/articles', a.slug]" routerLinkActive="active">{{ a.title }}</a> - <small> {{ a.date }}</small>
                <p>{{ a.shortDescription }}..</p>
            }
        </li>
    </ul>
</container-component>
