<app-container-component [fullWidth]="true" class="portfolio-article-container">
  @if (article(); as a) {
    <p class="breadcrumb">
      <span>
        <a routerLink="/">Home</a>
      </span>
      <span>
        &gt;
        <a routerLink="/articles">Articles</a>
      </span>
      <span>
        &gt;
        @for (cat of a.category; track cat; let last = $last) {
          <a [routerLink]="['/articles', 'category', cat]">{{ cat || "" }}</a>

          @if (!last) {
            {{ ", " }}
          }
        }
      </span>
      <span>
        &gt;
        <span class="active">{{ a.title || "" }}</span>
      </span>
    </p>
    @if (!a.published) {
      <h1 style="color: red">NOT PUBLISHED YET</h1>
    }

    <p id="article-author">Written by {{ a.author || "" }}</p>
    <h1 id="article-title">{{ a.title || "" }}</h1>
    <p id="article-date">Date: {{ a.date || "" }}</p>
    <p id="article-category">Category: {{ a.category || "" }}</p>
    <!-- TODO: tags into MUI badges and make clickable (apply filter in '/article') -->
    <p id="article-tags">
      {{ "Tags: " }}
      @for (tag of a.tags; track tag; let last = $last) {
        {{ tag }}

        @if (!last) {
          {{ ", " }}
        }
      }
    </p>

    <img
      [hidden]="!a.featuredImage"
      [src]="a.featuredImage?.srcPath"
      [alt]="a.featuredImage?.altText"
      class="portfolio-image"
    />

    <div class="article-content">
      <router-outlet></router-outlet>
    </div>
  } @else {
    <p>Error loading article</p>
  }
</app-container-component>
