<app-container-component class="portfolio-article-container">
  @if (article(); as a) {
    @if (!a.published) {
      <h1 style="color: red">NOT PUBLISHED YET</h1>
    }

    <h1 class="article-title">{{ a.title }}</h1>

    <div class="article">
      <div class="article-metadata">
        <p class="breadcrumb">
          <span>
            <a [routerLink]="['/']">Home</a>
          </span>
          <span>
            &gt;
            <a [routerLink]="['/articles']">Articles</a>
          </span>
          <span>
            &gt;
            @for (cat of a.categories; track cat; let last = $last) {
              <a [routerLink]="['/articles/category/' + cat]">{{
                cat || ""
              }}</a>

              @if (!last) {
                {{ ", " }}
              }
            }
          </span>
          <span>
            &gt;
            <span class="active">{{ a.title || "" }}</span>
          </span>
        </p>

        <img
          [src]="a.featuredImage?.srcPath"
          [alt]="a.featuredImage?.altText"
          (error)="$event.target.src = '/assets/images/placeholder.jpeg'"
          class="article-image"
        />

        <div class="article-details">
          <p>
            Geschreven door <b>{{ a.author }}</b>
          </p>
          <p>
            Project periode: {{ a.startDate }} t/m {{ a.endDate || "heden" }}
          </p>
        </div>

        @if (a.tags) {
          <div class="article-tags">
            @for (tag of a.tags; track tag) {
              <mat-chip>{{ tag }}</mat-chip>
            }
          </div>
        }
      </div>
      <div class="article-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  } @else {
    <p>Error loading article</p>
  }
</app-container-component>
