@use "../../../variables" as vars;

.articles-category-nav {
  margin-bottom: 2em;
}

.articles-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: 2em;
  margin-bottom: 2em;
  justify-items: center;

  .article-card {
    background-color: var(--mat-sys-surface-container);
    padding: 0.5em 1em 1em 1em;
    box-shadow: 4px 4px 0px black;
    border: solid 2px black;
    border-radius: 4px;
    text-align: left;
    max-width: 450px;
    width: 100%;
    position: relative;
    transition:
      translate 0.2s ease,
      box-shadow 0.2s ease;

    &:hover {
      cursor: pointer;
      translate: 4px 4px;
      box-shadow: none;
    }

    .article-information {
      display: flex;
      justify-content: space-between;

      .article-categories {
        span {
          background-color: var(--mat-sys-primary);
          color: var(--mat-sys-on-primary);
          padding: 0.2em 0.5em;
          margin-left: 0.3em;
          font-size: 1em;
        }
      }
    }

    .article-published-status {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      font-size: 0.8em;
      font-style: italic;
    }
  }

  @include vars.respond-to(tablet) {
    grid-template-columns: none;
    grid-auto-flow: row;

    li {
      text-align: center;
    }
  }

  @include vars.respond-to(mobile) {
    grid-template-columns: none;
    grid-auto-flow: row;

    li {
      text-align: center;
    }
  }
}
