<app-container-component
  [fullWidth]="true"
  [hideContainerView]="onlyShowArticles"
  class="portfolio-article-container"
>
  @if (!onlyShowArticles) {
    <h1>Articles</h1>

    <nav class="articles-category-nav">
      <a
        [routerLink]="['/articles']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        All
      </a>
      <span>
        @for (c of categories; track c) {
          |
          <a
            [routerLink]="['/articles/category/' + c]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ c }}</a
          >
        }
      </span>
    </nav>
  }

  <div class="articles-list-grid">
    @for (a of items | slice: 0 : maxItemsToShow ?? items.length; track a) {
      <a class="article-card" [routerLink]="['/articles/' + a.slug]">
        <div class="article-information">
          <small>{{ a.startDate }} t/m {{ a.endDate || "heden" }}</small>
          <small class="article-categories">
            @for (c of a.categories; track c; let last = $last) {
              <span class="article-category-badge">{{ c }}</span>
            }
          </small>
        </div>
        <h2>{{ a.title }}</h2>
        <p>{{ a.shortDescription }}..</p>
        <small class="article-published-status">
          {{ isDevMode ? (a.published ? "Published" : "Draft") : "" }}
        </small>
      </a>
    }
  </div>
</app-container-component>
